.container { 
  margin: 0 10px;
}
.logo {
    max-width: 100%;
    width: 80px;
}
.masthead {
    height: 70vh;
    min-height: 500px;
    background-image: url('../../../../assets/zyro-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.letra {
  color: white !important;
}