footer.sticky-footer {
    position: fixed;
    bottom: 0;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
}
.footer-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconos-footer {
    column-gap: 15px;
}
.logo {
    max-width: 100%;
    width: 77px;
}